/* основной текс #757575  */

/* вторичний цвет текста #212121 */

/* белый цвет #FFFFFF */

/* акцент #2196F3 */

/* цвет фона #FFFFFF */

/* вторичный цвет фона #F5F4FA */
/* третий цвет фона #2F303A */
/* адресс в футоре цвет rgba(255, 255, 255, 0.6) */
/* Цвет логотипа  #000000 */


:root {
    --primary-text-color: #757575;

    --secondary-text-color: #212121;

    --white-text-color: #FFFFFF;

    --accent-color: #2196F3;

    --main-fon-color: #FFFFFF;

    --secondary-fon-color:#F5F4FA;

    --third-fon-color: #2F303A;

    --footer-adress-color: rgba(255, 255, 255, 0.6);

    --logo-color: #000000;
}


body  {
    background-color: var(--main-fon-color);
    color: var(--primary-text-color);
}
ul {
    list-style: none;
}


/* Стили index html */

/* Logo */

.logo {
    
    color: var(--logo-color);
}
.logo-web  {
    color: var(--accent-color);
}


/* Site nav */

.site-nav .link {
    color: var(--secondary-text-color);
}
.site-nav .link.current {
    color: var(--accent-color);
} 
.adress-nav .link {
    color: var(--primary-text-color);
}
.adress-nav .link:hover,
.adress-nav .link:focus {
    color: var(--accent-color)
}


/* Hero */

.hero {
    --fon-color:#2F303A;
    background-color: var(--fon-color) 
}
.hero .title {
    color: var(--white-text-color);
}

.button.order {
    background-color: var(--accent-color);
    color: var(--white-text-color)
}



/* Feature */

.feature .title {
    color: var(--secondary-text-color);
}

/* чем мы занимаемся */


/* Наща клманда */
.team {
    background-color: var(--secondary-fon-color);
}
.team .title {
    color: var(--secondary-text-color) ;
}
.team-list .title {
    color: var(--secondary-text-color)
}


/* Подвал */
.under {
    background-color: var(--third-fon-color);
}
.log {
    color: var(--white-text-color);
}
.adress {
    color: var(--white-text-color);
}
.contact {
    color: var(--footer-adress-color);
}




/* Порфолио разметка */

/* кнопки */

.button {
    background-color: var(--main-fon-color);
    color: var(--secondary-text-color)
}
.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--white-text-color)
}


/* Проект стилизация */

.project .title {
    color: var(--secondary-text-color)
}
